body {
    font-family: Arial, sans-serif;
    background-image: url(../img/fondo.png);
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center center; 
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed; 
}

.register-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    border: 2px solid #fd267a; 
}

.register-container h2 {
    text-align: center;
}

.register-container input,
.register-container select {
    width: 100%; 
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #ccc; 
    border-radius: 20px;
    box-sizing: border-box; 
    transition: border-color 0.3s; 
}

.register-container input:focus,
.register-container select:focus {
    border-color: #fd267a; 
    outline: none; 
}

.register-container button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 20px;
    background-color: #fd267a;
    color: #fff;
    font-size: 16px;
    margin-top: 10px;
}

.facebook-button {
    background-color: #ffffff;
}

.facebook-button a {
    color: #fff; 
    text-decoration: none; 
}

.logo {
    display: flex;
    margin: 0 auto 20px; 
    max-width: 40px; 
    height: auto; 
}
