body {
    font-family: Arial, sans-serif;
    background-image: url('../img/fondo.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
  }
  
  .chat-container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .chat-header {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #8edfff;
    color: #fff;
  }
  
  .chat-header img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  
  .header-text {
    flex: 1;
  }
  
  .chat-header h3 {
    margin: 0;
    font-size: 18px;
  }
  
  .chat-header span {
    font-size: 14px;
  }
  
  .chat-messages {
    overflow-y: scroll;
    height: calc(100vh - 200px);
    padding: 10px;
  }
  
  .message-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
  }
  
  .message-container.message-received-container {
    justify-content: flex-start;
  }
  
  .message {
    max-width: 70%;
    padding: 10px;
    border-radius: 10px;
    clear: both;
    word-wrap: break-word;
  }
  
  .message-received {
    float: left;
    background-color: #ffffff;
  }
  
  .message-sent {
    float: right;
    background-color: #8edfff;
  }
  
  .chat-input {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 10px;
  }
  
  .chat-input input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #d4efff;
    border-radius: 5px;
    font-size: 14px;
    margin-right: 10px;
  }
  
  .chat-input button {
    padding: 10px 20px;
    border: none;
    background-color: #74b5f1;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .chat-input button:hover {
    background-color: #9ddeee;
  }